.sentence {
    display: flex;
    flex-wrap: wrap;
    font-weight: normal;
}

.system-message-wrapper {
    display: flex;
    justify-content: flex-start;
    width: 95%;
    margin-bottom: 0.5rem;

    .system-message {
        text-align: left;
        padding: 0.5rem;
        padding-left: 3rem;
        padding-right: 2rem;
        border-radius: 2.5rem;
        border-bottom-left-radius: 0rem;
        border: 1px solid #ccc;

        // background-color: #ccc;
        color: white;
    }
}

@keyframes dot {

    0%,
    20% {
        opacity: 0;
    }

    50%,
    100% {
        opacity: 1;
    }
}

.system-message .dot-1 {
    padding: 0.05rem;
    animation: dot 1s infinite;
}

.system-message .dot-2 {
    padding: 0.05rem;
    animation: dot 1s 0.25s infinite;
}

.system-message .dot-3 {
    padding: 0.05rem;
    animation: dot 1s 0.5s infinite;
}