.word-wrapper {
    display: flex;
    color: white;
    margin-right: 1rem;

    .is-known-kanji {
        color: lightgreen;
    }

    .is-unknown-kanji {
        color: red;
    }
}

.character-wrapper {
    display: flex;
    color: lightslategrey;
    margin-right: 1rem;
}



.word-is-selected {
    color: white;
    background-color: #4CAF50;
    border-radius: 0.5rem;
    padding: 0.1rem 0.3rem;
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;

    .is-known-kanji {
        color: white;
    }

    .is-unknown-kanji {
        color: black;
    }

    .no-kanji-character {
        color: white;
    }
}